* {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
    height: 100%;
    width: 100vh;
}

h1 {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
    font-size: 6em;
    margin: 0;
    padding: 0;
    cursor: pointer;


}

h1 span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    overflow: hidden;
    transition: 1s;
}

h1:hover span:nth-child(1) {
    transform: translateY(-18px);
}

h1 span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
    overflow: hidden;
    transition: 1s;
}

h1:hover span:nth-child(2) {
    transform: translateY(18px);
}

h1 span:nth-child(3) {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) scale(0);
    background-color: #00e2ff;
    color: #ffffff;
    font-size: 0.30em;
    font-weight: 100;
    width: 100%;
    text-align: center;
    transition: 1s;

}

h1:hover span:nth-child(3) {
    transform: translateY(-50%) scale(1);
}
